<a href="https://colab.research.google.com/github/unc5050/CSC_120_demo/blob/main/elkhatib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python program that iterates the integers from 1 to 50.

In [ ]:
for i in range (1,50):
  if i%3==0 and i%7==0:
    print("DataApprenticeship")
  elif i%7==0:
    print ("Apprenticeship")
  elif i%3==0:
     print ("Data")
  else:
    print(i)

1
2
Data
4
5
Data
Apprenticeship
8
Data
10
11
Data
13
Apprenticeship
Data
16
17
Data
19
20
DataApprenticeship
22
23
Data
25
26
Data
Apprenticeship
29
Data
31
32
Data
34
Apprenticeship
Data
37
38
Data
40
41
DataApprenticeship
43
44
Data
46
47
Data
Apprenticeship